{{extend 'layout.html'}}

<div class="box">
  <h2 class="text-center">Productos marca {{=request.args(0)}}</h2>
  <div class="container">
      <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Seleccione una categoria
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {{for categoria in categorias:}}
	    {{if categoria.categorias.id==int(request.args(1)):}}
	    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{{=URL('default','listado',args=(request.args(0), categoria.categorias.id))}}">{{=categoria.categorias.nombre.capitalize()}}</a></li>
	    {{else:}}
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{=URL('default','listado',args=(request.args(0), categoria.categorias.id))}}">{{=categoria.categorias.nombre.capitalize()}}</a></li>
	    {{pass}}
	    {{pass}}
    </ul>
  </div>
  <br />
  </div>  
  <div class="row">
    <div class="col-xs-12 fix">
      {{for producto in productos:}}
      <div class="col-xs-6 col-md-3 text-center">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    {{=producto.productos.nombre}}
	  </div>
	  <div class="panel-body">
	    <img src="{{=URL('download', args=producto.productos.imagen)}}" class="img-thumbnail" alt="" /><br />
	  </div>
	  <div class="panel-footer">
	    <div class="" style="margin:1em">
	      <strong>Presentacion: </strong>{{=producto.productos.presentacion}}
	    </div>
	  </div>
	</div>
      </div>
      {{pass}}
    </div>
  </div>
</div>
