{{extend 'layout.html'}}

<div class="box">
  <h2 class="text-center">Productos marca {{=request.args(0)}}</h2>
  <div class="row">
    <div class="col-xs-2 fix">
      <div class="submenu">
	<h4 class="text-center">Categorias</h4>
	<table class="categorias table">
	  {{for categoria in categorias:}}
	  {{if request.args(1):}}
	  {{if (categoria.categorias.id==int(request.args(1))):}}
	  <tr>
	    <td class="active"><a href="{{=URL('default','listado',args=(request.args(0), categoria.categorias.id))}}">{{=categoria.categorias.nombre.capitalize()}}</a></td>
	  </tr>
	  
	  {{else:}}
	  <tr>
	    <td><a href="{{=URL('default','listado',args=(request.args(0), categoria.categorias.id))}}">{{=categoria.categorias.nombre.capitalize()}}</a></td>
	  </tr>
	  {{pass}}
	  {{else:}}
	  <tr>
	    <td><a href="{{=URL('default','listado',args=(request.args(0), categoria.categorias.id))}}">{{=categoria.categorias.nombre.capitalize()}}</a></td>
	  </tr>
	  {{pass}}
	  {{pass}}
	  {{pass}}
	</table>
      </div>
    </div>
    <div class="col-xs-10 fix">
      {{for producto in productos:}}
      <div class="col-xs-6 col-md-3 text-center">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    {{=producto.productos.nombre}}
	  </div>
	  <div class="panel-body">
	    <img src="{{=URL('download', args=producto.productos.imagen)}}" class="img-thumbnail" alt="" /><br />
	  </div>
	  <div class="panel-footer">
	    <div class="" style="margin:1em">
	      <strong>Presentacion: </strong>{{=producto.productos.presentacion}}
	    </div>
	  </div>
	</div>
      </div>
      {{pass}}
    </div>
  </div>
</div>
