{{extend 'layout.html'}}


  <div class="box">
    <div class="row text-center">
      <h2>Selecciona una marca</h2>
      <div class="marcas col-sm-6">
	<a href="{{=URL('default','listado',args=('Alco'))}}"><img src="{{=URL('static','images/cab-botoalco.jpg')}}" class="" alt="" /></a>
      </div>
      
      <div class="marcas col-sm-6">
	<a href="{{=URL('default','listado',args=('Canale'))}}"><img src="{{=URL('static','images/cab-botocanale.jpg')}}" class="" alt="" /></a>
      </div>
    </div>    
  </div>

<script type="text/javascript">
  $(document).ready(function(){
   $('.no-prod').hide();
  })
</script>
