{{extend 'layoutadmin.html'}}

<h2>Mensajes recibidos por la web</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    {{for mensaje in mensajes:}}
    <tr>
      <td>{{=mensaje.nombre}}</td>
      <td>{{=mensaje.email}}</td>
      <td>{{=mensaje.fecha}}</td>
      {{if not(db((db.leidos.mensaje==mensaje.id)&(db.leidos.usuario==session.auth.user.id)).select()):}}
       <td><a href="{{=URL('adminweb','leermensaje', vars=dict(id=mensaje.id))}}" class="btn btn-primary btn-large"><span class="badge pull-right">Nuevo</span> Ver mensaje</a></td>
      {{else:}}
       <td><a href="{{=URL('adminweb','leermensaje', vars=dict(id=mensaje.id))}}" class="btn btn-primary"><span class="fa fa-eye"></span> Ver mensaje</a></td>
      {{pass}}
    </tr>
    {{pass}}
  </tbody>
</table>
